body {
    background-color: #90ff90;
    font-family: Arial;
    font-size: 17px;
}

.bnr {
    width: 100%;
    font-family: "Arial";
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    animation-name: pulse;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        color: black;
    }
    50% {
        color: #ffffff;
    }
}

a {
    color: darkblue;
}

a.btn {
    color: black;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

a.btn-right {
    color: black;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    float: right;
}

.tpbr {
    color: white;
    background-color: black;
}

.blgtxt {
    font-size: 16px;
    font-family: "Times New Roman";
    background-color: white;
}

.blgprv {
    font-style: italic;
    width: 60%;
}

.lgn {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}