<!-- Matrikelnummern: 3229403, 9964427 -->

{{define "stylesheet"}}
<link rel="stylesheet" href="css/stylesheet.css">
{{end}}

{{define "topbar"}}
<div class="bnr">
    <label>.:GoBlog:.</label><br>
</div>
<div id="topbar" class="tpbr">
    {{if ne .CurrentUser ""}}
    <p>Aktueller Nutzer: {{.CurrentUser}}</p>
    <a href="changepw" class="btn">Passwort ändern</a>
    <a href="logout" class="btn">Ausloggen</a>
    {{else}}
    <a href="login" class="btn">Anmelden</a>
    {{end}}
    <a href="home" class="btn-right">Home</a>
</div>
<br>
{{end}}
