<!-- Matrikelnummern: 3229403, 9964427 -->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Passwort ändern</title>
    {{template "stylesheet"}}
</head>
<body>

<form method="post">
    <label for="crpw">Aktuelles Passwort:</label><br>
    <input type="password" name="currpw" id="crpw"><br>
    <label for="npw1">Neues Passwort:</label><br>
    <input type="password" name="newpw1" id="npw1" minlength="5"><br>
    <label for="npw2">Neues Passwort wiederholen:</label><br>
    <input type="password" name="newpw2" id="npw2" minlength="5"><br>
    <input type="submit" value="Bestätigen">
</form>
<br>
<a href=javascript:history.back() class="btn">Abbrechen</a>

</body>
</html>