<!-- Matrikelnummern: 3229403, 9964427 -->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<p>Bitte melden Sie sich an. Existiert der eingegebene Nutzer nicht, so wird er mit dem zugehörigen Passwort
    erstellt.</p>

<form method="post">
    <label for="usr">Nutzername</label>
    <input type="text" name="usrnm" id="usr" minlength="1" maxlength="10">
    <br>
    <label for="psw">Passwort</label>
    <input type="password" name="passw" id="psw" minlength="5">
    <input type="submit" value="Anmelden">
</form>

</body>
</html>