<!-- Matrikelnummern: 3229403, 9964427 -->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{.Blog.Title}}</title>
    {{template "stylesheet"}}
</head>
<body>

{{if eq .Blog.ID 0}}
<script>
    alert("Blog nicht gefunden!")
    window.history.back()
</script>
{{end}}

{{template "topbar" . }}

{{if ne .CurrentUser ""}}
{{if eq .CurrentUser .Blog.Author}}
<br>
<a href="deleteblog?ID={{.Blog.ID}}" class="btn">Eintrag löschen</a>
<a href="editblog?ID={{.Blog.ID}}" class="btn">Eintrag bearbeiten</a><br>
<hr>
{{end}}
{{end}}

<h1>{{.Blog.Title}}</h1>
von {{.Blog.Author}}<br>
<p class="blgtxt">{{.Blog.Content}}</p>

<hr>

<ul>
    {{range .BlogComments}}
    <li>"{{.Text}}"<br>
        - {{.Author}}<br>
        am {{.Date}}<br>
        <br>
    </li>
    {{end}}
</ul>

<form method="post">
    <label>Kommentieren:</label><br><br>
    {{if eq .CurrentUser ""}}
    <label for="nck">Nickname</label>
    <input type="text" name="nicknm" id="nck" value="{{.NickName}}" minlength="1" maxlength="10"><br>
    {{end}}
    <textarea name="cmnt" cols="70" rows="5" minlength="5"></textarea>
    <input type="submit" value="Abschicken">
</form>

</body>
</html>