<!-- Matrikelnummern: 3229403, 9964427 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{{if eq .Blog.ID 0}}
<script>
    alert("Blog nicht gefunden!")
    window.history.back()
</script>
{{end}}

<script>
    function show() {
        document.getElementById("edt").style.display="block";
    }
</script>

{{if ne .CurrentUser ""}}
<p>Aktueller Nutzer: {{.CurrentUser}}</p>
<a href="changepw">Passwort ändern</a>
<a href="logout">Ausloggen</a>

<button onclick="show()">Blog bearbeiten</button>
<br>
<form id="edt" method="edit" hidden>
    <label>Inhalt</label><br>
    <textarea name="blgcont" cols="100" rows="5">{{.Blog.Content}}</textarea>
    <input type="submit" value="Eintragen">
</form>
{{end}}


<h1>{{.Blog.Title}}</h1><br>
{{.Blog.Author}}<br>
<p>{{.Blog.Content}}</p>


<label>Kommentare:</label>

<ul>
    {{range .BlogComments}}
    <li>{{.Text}}<br>
        von {{.Author}}<br>
        <br>
    </li>
    {{end}}
</ul>

<form method="post">
    <br>
    <label>Neuer Kommentar</label><br>
    {{if eq .CurrentUser ""}}
    <label for="nck">Nickname</label>
    <input type="text" name="nicknm" id="nck"><br>
    {{end}}
    <textarea name="cmnt" cols="70" rows="5"></textarea>
    <input type="submit" value="Abschicken">
</form>



</body>
</html>