<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{if eq .Blog.ID 0}}
<SCRIPT>
    alert("Blog nicht gefunden!")
    window.history.back()
</SCRIPT>
{{end}}

{{if ne .CurrentUser ""}}
<p>Aktueller Nutzer: {{.CurrentUser}}</p>
<a href="logout">Ausloggen</a>
{{end}}


<h1>{{.Blog.Title}}</h1><br>
{{.Blog.Author}}<br>
<p>{{.Blog.Content}}</p>

<label>Kommentare:</label>

<ul>
    {{range .BlogComments}}
    <li>{{.Text}}<br>
        von {{.Author}}<br>
        <br>
    </li>
    {{end}}
</ul>

<form method="post">
    <br>
    <label>Neuer Kommentar</label><br>
    {{if eq .CurrentUser ""}}
    <label for="nck">Nickname</label>
    <input type="text" name="nicknm" id="nck"><br>
    {{end}}
    <textarea name="cmnt" cols="70" rows="5"></textarea>
    <input type="submit" value="Abschicken">
</form>

</body>
</html>